.daily-folder-prompt-path-preview {
    width: 100%;
    padding: 10px 0;
    overflow-wrap: break-word;
}

.daily-folder-path-preview-pre {
    white-space: nowrap;
}

.daily-folder-path-preview-text {
    border-radius: 10px;
    padding: 3px 8px;
    background-color: rgba(0,0,0,0.1);
    font-family: monospace;
    margin: 0 0 0 10px;

}

.invalid-path input{
    background-color: rgba(255,0,0,0.6);

}

.invalid-path input:hover{
    background-color: rgba(200,0,0,0.6);
}

.invalid-path  div.setting-item-control {
    position: relative;
}

.invalid-path  div.setting-item-control::after {
    color: rgba(255,0,0,0.6);
    font-size: 0.9em;
    content: "invalid path";
    position: absolute;
    top: 100%;
    left: 0
}
